# fly.toml app configuration file generated for k-recipe2vec
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'k-recipe2vec'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  cpu_kind = 'shared'

swap_size_mb = 512

[[services.http_checks]]
  interval = "10s"
  timeout = "5s"
  grace_period = "600s"  # 중요: 앱 시작 대기 시간을 10분으로 설정
  restart_limit = 0
  method = "get"
  path = "/"
